<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
    
</head>
<body>
    <header>
        <h1>Welcome...</h1>
    </header>
    <main class="geo">
        <div class="geo-div1">            
            <h1>GEOLOCATOR</h1>
            <h3>YOU CAN NEVER GET LOST</h3>
            <p>This is a Geolocation application that points the location of a user when they upload a geotagged image of anywhere in the world on this application</p>
            <a href="/file">Proceed to Upload Image</a>
        </div>
        <div class="geo-div2">            
            <img src="/images/magnifier.jpg" alt="">
        </div>
    </main>

    
    
</body>
</html>
        <!-- <div class="home-text ">
            <h1>Welcome to my GEOLOCATION APP</h1>
            <a href="/file">Click to proceed to upload photo</a>
        </div>
        <img src="/images/World-Map.jpg" alt=""> -->