@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* :root{
  font-size: 19px;
} */


main{
  width: 100%;
}
.upload{
  width: 50%;
  height: 50vh;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  
}

/* Home.ejs styling */
header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  background-color: #258d8c;
}
header h1{
  color: white;
  
}

.geo{
  width: 80%;
  display: flex;
  margin:0 auto ;
 
}

.geo-div1{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.geo-div1 h1{
  font-weight: bold;
  font-size: 3.5rem;
  color:#3f9896 ;
}
.geo-div1 h3{
  font-weight: bold;
  color:#3f9896 ;
  font-size: 1.2rem;
}
.geo-div1 p{
  width: 70%;
  font-size: 0.9rem;
  color: rgb(189, 188, 188);
  margin-top: 10px;
}
.geo-div1 a{
  width: 40%;
  text-decoration: none;
  color: white;
  padding: 1em;
  font-size: 0.7rem;
  background-color:#3f9896;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 15px;
  transition: all 0.2s linear;
}

.geo-div1 a:hover{
  transform: scale(1.1);
}

.geo-div2{
  width: 50%;
}
.geo .geo-div2 img{
  width: 100%;
}



/* Index.ejs file */
.div{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


.div .info-div{
  position: absolute;
  z-index: 5;
  width: 30%;
  height: 60vh;
  bottom: 10px;
  right: 70px;
}

.info-div .for-image img{
  width: 100%;
  border-radius: 10px;
}


label i{
  cursor: pointer;
  font-size: 2.2rem;
  
}

.upload form{
  width: 50%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

form input{
  width: 100%;
  padding: 1.2em;
  background-color: orange;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}